/*_BasicLayout*/
#renderBody {
    min-height: 583px;
    margin-top: 60px;
    /*padding-top: 60px;*/
}

.indexPage {
    height: 100%;
    background-image: url('/images/banner.jpg');
}

footer {
    background-color: #eda39a;
    padding-bottom: 0px !important;
}

.input-validation-error {
    border-color: red;
    background-color: #fee;
}

#dishPic {
    width: 300px;
    height: 300px;
}

#recipeListCard {
    width: 330px;
    height: 420px;
}



