@model Recipe
@{
    ViewBag.Title = "Add Recipe - iCOOK";
}

<div class="text-center"><h2>Share your delicious recipe!</h2></div>
<div class="panel-body align-content-center m-5">
    <form class="p-a-l" asp-action="AddRecipe" method="post">
        @Html.Partial("RecipeFields")

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Add Recipe</button>
            <button class="btn btn-danger" asp-action="Index">Cancel</button>
        </div>
    </form>
</div>

