@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Recipe List - iCOOK";
}

<div class="panel panel-success text-center" id="recipeDiv">
    <div class="panel-heading text-center"><h2 class="text-center">Collection of Recipes</h2></div>

    @foreach (Recipe r in Model)
    {
        @Html.Partial("RecipeSummary", r)
    }

</div>
