
@{
    ViewBag.Title = "Thank You - iCOOK";
}

<div class="panel panel-success">
    <h2 class="panel-heading text-center">Thank you</h2>
    <h3 class="text-center">We hope you enjoy cooking with our recipes!</h3>
</div>