<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: skyblue;">
        <a class="navbar-brand" asp-action="Index">
            <i class="fas fa-wrench"></i>

        </a>
        <h4>iCook Admin - @ViewBag.Title</h4>
    </nav>
    <div>
        <div class="bg-info p-2 row">
            <div class="col">

            </div>
        </div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success position-relative" style="margin-top: 50px">@TempData["message"]</div>
        }
        <div id="renderBody">
            @RenderBody()
        </div>
    </div>
</body>
</html>
