<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="Index">
            <i class="fas fa-stroopwafel" style="color: #f67666"></i>
            iCook
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="RecipeList">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="AddRecipe">Add Recipes</a>
                </li>
            </ul>
        </div>
    </nav>
    @if (@ViewBag.Title == "iCOOK")
    {
        <div id="renderBody" class="indexPage">
            @RenderBody()
        </div>
    }
    else
    {
        <div id="renderBody">
            @RenderBody()
        </div>
    }

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="text-center pt-3">
                <a>
                    <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a>
                    <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a>
                    <i class="fab fa-google-plus-g fa-lg mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a>
                    <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a>
                    <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a>
                    <i class="fab fa-github fa-lg mr-md-5 mr-3 fa-2x"></i>
                </a>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-2">
            Nina (Tzu-Ting) Wu © 2019
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
</html>
